---
import normalize from "../styles/normalize.css?url";
import swiper from "swiper/swiper-bundle.css?url";
import fancybox from "@fancyapps/ui/dist/fancybox/fancybox.css?url";
import accordion from "accordion-js/dist/accordion.css?url";
import choices from "choices.js/public/assets/styles/choices.min.css?url";
import tippy from "tippy.js/dist/tippy.css?url";
import datepicker from "air-datepicker/air-datepicker.css?url";


import Header from "./Header.astro";
import End from "./End.astro";
import MainComp from "./MainComp.astro";


interface Props {
  title: string;
}

const { title } = Astro.props;

const version = String(Date.now()).substring(5);
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/public/fonts/PFAgora/stylesheet.css">
    
    <!-- <link rel="stylesheet" href={swiper} /> -->
    <!-- <link rel="stylesheet" href={fancybox} /> -->
    <!-- <link rel="stylesheet" href={accordion} /> -->
    <!-- <link rel="stylesheet" href={choices} /> -->
    <!-- <link rel="stylesheet" href={tippy} /> -->
    <!-- <link rel="stylesheet" href={datepicker} /> -->
    <!-- <link rel="stylesheet" href="/fonts/icomoon/style.css" /> -->
    <link rel="stylesheet" href={normalize} />
  </head>
  <body>
    <Header/>
    <MainComp/>
    <End/>
    <!-- <slot /> -->
    <!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" defer></script> -->
    <!-- <script is:inline src="/js/map.js" defer></script> -->
    <script is:inline src=`/js/custom-script.js?v=0.${version}` defer></script>
    <script
    src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"
    type="text/javascript"
  ></script>
  </body>
</html>

<style is:global lang="scss">
  html {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'PF Agora Sans Pro';

    max-width: 1920px;
    margin: 0 auto;
    min-width: 320px;
  }
</style>
